{% extends 'main/baseNv.html' %}

{% block title %}SHOP{% endblock %}
{% block content %}
    <div id="shop_overview">
        <a><h2>МЕНЮ</h2></a>
        <h4>Тощих людей легче похитить! Не подвергайте себя риску! Кушайте как следует!!!</h4>
        <div class="container">
            <div class="rest_part">

            </div>
            <div class="main_part">
                <div style="height: 500px;"></div>
            </div>
            <div class="rest_part">

            </div>
        </div>
    </div>
{% endblock %}